{
  "Get-AzDataShareSubscription+[NoContext]+List+$GET+https://management.azure.com/subscriptions/0f3dcfc3-18f8-4099-b381-8353e19d43a7/resourceGroups/ads-pwsh-rgym0bos/providers/Microsoft.DataShare/accounts/ads-pwsh-accountym0bos/shareSubscriptions?api-version=2021-08-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/0f3dcfc3-18f8-4099-b381-8353e19d43a7/resourceGroups/ads-pwsh-rgym0bos/providers/Microsoft.DataShare/accounts/ads-pwsh-accountym0bos/shareSubscriptions?api-version=2021-08-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "28" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11981" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"properties\":{\"createdAt\":\"2022-02-02T00:37:03.5887493Z\",\"invitationId\":\"50327391-6690-4b5b-8c0d-854ef2b5ecc3\",\"sourceShareLocation\":\"eastus\",\"provisioningState\":\"Succeeded\",\"shareDescription\":\"Test share\",\"shareKind\":\"InPlace\",\"shareName\":\"ads-pwsh-share3e1foy\",\"shareSubscriptionStatus\":\"Active\",\"shareTerms\":\"Test terms\",\"providerName\":\"Harsh Srivastava\",\"providerEmail\":\"hsrivastava@microsoft.com\",\"providerTenantName\":\"Microsoft\",\"userName\":\"Harsh Srivastava\",\"userEmail\":\"hsrivastava@microsoft.com\"},\"id\":\"/subscriptions/0f3dcfc3-18f8-4099-b381-8353e19d43a7/resourceGroups/ads-pwsh-rgym0bos/providers/Microsoft.DataShare/accounts/ads-pwsh-accountym0bos/shareSubscriptions/ads-share-subscription3e1foy\",\"name\":\"ads-share-subscription3e1foy\",\"type\":\"Microsoft.DataShare/accounts/shareSubscriptions\"}]}",
    }
  },
  "Get-AzDataShareSubscription+[NoContext]+Get+$GET+https://management.azure.com/subscriptions/0f3dcfc3-18f8-4099-b381-8353e19d43a7/resourceGroups/ads-pwsh-rgym0bos/providers/Microsoft.DataShare/accounts/ads-pwsh-accountym0bos/shareSubscriptions/ads-share-subscription3e1foy?api-version=2021-08-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/0f3dcfc3-18f8-4099-b381-[...]
