{
  "Get-AzDataShareConsumerInvitation+[NoContext]+List+$GET+https://management.azure.com/providers/Microsoft.DataShare/listInvitations?api-version=2021-08-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.DataShare/listInvitations?api-version=2021-08-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "21" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "", "", "", "", "", "", "", "", "", "" ],
        "x-ms-ratelimit-remaining-tenant-reads": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[]}",
    }
  },
  "Get-AzDataShareConsumerInvitation+[NoContext]+Get+$GET+https://management.azure.com/providers/Microsoft.DataShare/locations/eastus/consumerInvitations/50327391-6690-4b5b-8c0d-854ef2b5ecc3?api-version=2021-08-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.DataShare/locations/eastus/consumerInvitations/50327391-6690-4b5b-8c0d-854ef2b5ecc3?api-version=2021-08-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "22" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 404,
      "Headers": {
        "x-ms-ratelimit-remaining-tenant-reads": [ "11998" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"error\":{\"code\":\"7001\",\"message\":\"Invitation with InvitationId 50327391-6690-4b5b-8c0d-854ef2b5ecc3 not found for hsrivastava@microsoft.com\",\"target\":null,\"details\":[]}}",
    }
  },
  "Get-AzDataShareConsumerInvitation+[NoContext]+GetViaIdentity+$GET+https://management.azure.com/providers/Microsoft.DataShare/locations/eastus/consumerInvitations/e4b41a0d-e7b9-4504-8d62-d6ff79f0a67b?api-version=2021-08-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.DataShare/locations/eastus/consumerInvitations/e4b41a0d-e7b9-4504-8d62-d6ff79f0a67b?api-version=2021-08-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "23" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 404,
      "Headers": {
        "x-ms-ratelimit-remaining-tenant-reads": [ "11997" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"error\":{\"code\":\"7001\",\"message\":\"Invitation with InvitationId e4b41a0d-e7b9-4504-8d62-d6ff79f0a67b not found for hsrivastava@microsoft.com\",\"target\":null,\"details\":[]}}",
    }
  }
}