{
  "Get-AzDataShareAccount+[NoContext]+List+$GET+https://management.azure.com/subscriptions/0f3dcfc3-18f8-4099-b381-8353e19d43a7/providers/Microsoft.DataShare/accounts?api-version=2021-08-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/0f3dcfc3-18f8-4099-b381-8353e19d43a7/providers/Microsoft.DataShare/accounts?api-version=2021-08-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "16" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "", "", "", "", "", "", "", "", "", "", "" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11990" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"identity\":{\"type\":\"SystemAssigned\",\"principalId\":\"d9e962fe-ff11-4779-a852-f3699f718d96\",\"tenantId\":\"72f988bf-86f1-41af-91ab-2d7cd011db47\"},\"properties\":{\"createdAt\":\"2022-01-12T21:21:36.9790026Z\",\"provisioningState\":\"Succeeded\",\"userName\":\"Priyanka Chadalavada\",\"userEmail\":\"prchadal@microsoft.com\"},\"location\":\"centralus\",\"tags\":{},\"id\":\"/subscriptions/0f3dcfc3-18f8-4099-b381-8353e19d43a7/resourceGroups/babylondemo/providers/Microsoft.DataShare/accounts/datasharelocationtest\",\"name\":\"datasharelocationtest\",\"type\":\"Microsoft.DataShare/accounts\",\"systemData\":{\"createdBy\":\"prchadal@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2022-01-12T21:21:36.1153506Z\",\"lastModifiedBy\":\"prchadal@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2022-01-12T21:21:36.1153506Z\"}},{\"identity\":{\"type\":\"SystemAssigned\",\"principalId\":\"00d0395b-9f62-4392-b012-f5dff2cf1037\",\"tenantId\":\"72f988bf-86f1-41af-91ab-2d7cd011db47\"},\"properties\":{\"createdAt\":\"2021-02-26T02:11:45.4574297Z\",\"provisioningState\":\"Succeeded\",\"userName\":\"Max Rodewald\",\"userEmail\":\"marodewa@microsoft.com\"},\"location\":\"eastasia\",\"tags\":{},\"id\":\"/subscriptions/0f3dcfc3-18f8-4099-b381-8353e19d43a7/resourceGroups/maxdev/providers/Microsof[...]
