{
  "Get-AzDataShareSubscription+[NoContext]+List+$GET+https://management.azure.com/subscriptions/0f3dcfc3-18f8-4099-b381-8353e19d43a7/resourceGroups/ads-pwsh-rg3sy4xt/providers/Microsoft.DataShare/accounts/ads-pwsh-account3sy4xt/shareSubscriptions?api-version=2021-08-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/0f3dcfc3-18f8-4099-b381-8353e19d43a7/resourceGroups/ads-pwsh-rg3sy4xt/providers/Microsoft.DataShare/accounts/ads-pwsh-account3sy4xt/shareSubscriptions?api-version=2021-08-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "24" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11970" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"properties\":{\"createdAt\":\"2022-02-01T05:39:58.7122583Z\",\"invitationId\":\"506c9b45-3a1c-45d4-9b56-2c3dd29043a2\",\"sourceShareLocation\":\"eastus\",\"provisioningState\":\"Succeeded\",\"shareDescription\":\"Test share\",\"shareKind\":\"InPlace\",\"shareName\":\"ads-pwsh-sharejn7fst\",\"shareSubscriptionStatus\":\"Active\",\"shareTerms\":\"Test terms\",\"providerName\":\"Harsh Srivastava\",\"providerEmail\":\"hsrivastava@microsoft.com\",\"providerTenantName\":\"Microsoft\",\"userName\":\"Harsh Srivastava\",\"userEmail\":\"hsrivastava@microsoft.com\"},\"id\":\"/subscriptions/0f3dcfc3-18f8-4099-b381-8353e19d43a7/resourceGroups/ads-pwsh-rg3sy4xt/providers/Microsoft.DataShare/accounts/ads-pwsh-account3sy4xt/shareSubscriptions/ads-share-subscriptionjn7fst\",\"name\":\"ads-share-subscriptionjn7fst\",\"type\":\"Microsoft.DataShare/accounts/shareSubscriptions\"}]}",
    }
  },
  "Get-AzDataShareSubscription+[NoContext]+Get+$GET+https://management.azure.com/subscriptions/0f3dcfc3-18f8-4099-b381-8353e19d43a7/resourceGroups/ads-pwsh-rg3sy4xt/providers/Microsoft.DataShare/accounts/ads-pwsh-account3sy4xt/shareSubscriptions/ads-share-subscriptionjn7fst?api-version=2021-08-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/0f3dcfc3-18f8-4099-b381-[...]
