{
  "Get-AzDataShareConsumerInvitation+[NoContext]+List+$GET+https://management.azure.com/providers/Microsoft.DataShare/listInvitations?api-version=2021-08-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.DataShare/listInvitations?api-version=2021-08-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "20" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "", "", "", "", "", "", "", "", "", "" ],
        "x-ms-ratelimit-remaining-tenant-reads": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[]}",
    }
  },
  "Get-AzDataShareConsumerInvitation+[NoContext]+Get+$GET+https://management.azure.com/providers/Microsoft.DataShare/locations/eastus/consumerInvitations/506c9b45-3a1c-45d4-9b56-2c3dd29043a2?api-version=2021-08-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.DataShare/locations/eastus/consumerInvitations/506c9b45-3a1c-45d4-9b56-2c3dd29043a2?api-version=2021-08-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "21" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 404,
      "Headers": {
        "x-ms-ratelimit-remaining-tenant-reads": [ "11998" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"error\":{\"code\":\"7001\",\"message\":\"Invitation with InvitationId 506c9b45-3a1c-45d4-9b56-2c3dd29043a2 not found for hsrivastava@microsoft.com\",\"target\":null,\"details\":[]}}",
    }
  }
}