{
  "Get-AzDataShareInvitation+[NoContext]+List+$GET+https://management.azure.com/subscriptions/0f3dcfc3-18f8-4099-b381-8353e19d43a7/resourceGroups/ads-pwsh-rgym0bos/providers/Microsoft.DataShare/accounts/ads-pwsh-accountym0bos/shares/ads-pwsh-share3e1foy/invitations?api-version=2021-08-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/0f3dcfc3-18f8-4099-b381-8353e19d43a7/resourceGroups/ads-pwsh-rgym0bos/providers/Microsoft.DataShare/accounts/ads-pwsh-accountym0bos/shares/ads-pwsh-share3e1foy/invitations?api-version=2021-08-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "24" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11985" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"properties\":{\"sentAt\":\"2022-02-02T00:37:02.3414745Z\",\"targetActiveDirectoryId\":\"72f988bf-86f1-41af-91ab-2d7cd011db47\",\"targetObjectId\":\"39417cc4-56f4-4c65-865f-0d5de6bf048b\",\"invitationStatus\":\"Pending\",\"invitationId\":\"e4b41a0d-e7b9-4504-8d62-d6ff79f0a67b\",\"userName\":\"Harsh Srivastava\",\"userEmail\":\"hsrivastava@microsoft.com\"},\"id\":\"/subscriptions/0f3dcfc3-18f8-4099-b381-8353e19d43a7/resourceGroups/ads-pwsh-rgym0bos/providers/Microsoft.DataShare/accounts/ads-pwsh-accountym0bos/shares/ads-pwsh-share3e1foy/invitations/ads-pwsh-invitation-directory3e1foy\",\"name\":\"ads-pwsh-invitation-directory3e1foy\",\"type\":\"Microsoft.DataShare/accounts/shares/invitations\",\"systemData\":{\"createdBy\":\"hsrivastava@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2022-02-02T00:37:02.0806879Z\",\"lastModifiedBy\":\"hsrivastava@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2022-02-02T00:37:02.0806879Z\"}}]}",
    }
  },
  "Get-AzDataShareInvitation+[NoContext]+Get+$GET+https://management.azure.com/subscriptions/0f3dcfc3-18f8-4099-b381-8353e19d43a7/resourceGroups/ads-pwsh-rgym0bos/providers/Microsoft.DataShare/accounts/ads-pwsh-accountym0bos/shares/ads-pwsh-share3e1foy/invitations/ads-pwsh-invitation-directory3e1foy?api-version=2021-08-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/0f3dcfc3-18f8-40[...]
